<h1>Common Ingredients Checker</h1>
<p>Use this tool to find common or frequent ingredients in skin care products, food, or anything else.</p>
<div class="row">
  <div class="col-12 col-md-8">
    <h2 *ngIf="formMode === FormMode.CREATING">Add Product</h2>
    <h2 *ngIf="formMode === FormMode.UPDATING">Update Product</h2>
    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
      <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input id="name" type="text" class="form-control" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="ingredients" class="form-label">Ingredient List</label>
        <textarea id="ingredients" class="form-control" formControlName="ingredients" rows="3" placeholder="Paste the product's ingredient list here. Each ingredient should be separated by a comma."></textarea>
      </div>
      <div class="mb-3">
        <div *ngIf="formMode === FormMode.CREATING">
          <button [disabled]="!addProductForm.valid" class="btn btn-primary" type="submit">+ Add</button>
        </div>
        <div *ngIf="formMode === FormMode.UPDATING" class="btn-group" role="group" aria-label="Product Actions">
          <button [disabled]="!addProductForm.valid" class="btn btn-primary" (click)="updateProduct()">Save</button>
          <button class="btn btn-danger" (click)="deleteProduct()">Delete</button>
          <button class="btn btn-secondary" (click)="cancelUpdate()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <h2>Products <span *ngIf="products.length">({{products.length}})</span></h2>
    <div class="list-group" *ngIf="products.length">
      <a href="#" *ngFor="let product of products" (click)="viewProductInForm(product.name)" class="list-group-item list-group-item-action {{isActiveProduct(product.name) ? 'active' : null}}">{{product.name}}</a>
    </div>
    <div *ngIf="!products.length">Products you add will appear here.</div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>All Ingredients</h2>
    <div *ngIf="!ingredientOccurrences.length">Ingredients you add will appear here.</div>
    <table class="table table-hover" *ngIf="ingredientOccurrences.length">
      <thead>
        <tr>
          <th scope="col-2"># of Occurrences in Products</th>
          <th scope="col-5">Ingredient</th>
          <th scope="col-5">Products</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of ingredientOccurrences">
          <td>{{ingredient.occurrences}}</td>
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.products}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>